<header id="appheader">
    <h1 id="logo"><a href="/">Skyscanner</a></h1>
    <nav id="culture">
        <ul>
            <li id="language"><a href="">{{app.culture.language.code | uppercase}}<span>{{app.culture.language.name}}</span></a></li>
            <li id="currency"><a href="">{{app.culture.currency.symbol}}<span>{{app.culture.currency.abbr | uppercase}}</span></a></li>
            <li id="sign-in"><a href="">{{strings.signin}}</a></li>
        </ul>
    </nav>
    <!--
    <div class="wrap clearfix">
        <div id="secondary-nav">
            <ul class="clearfix">
                <li><a href="/news/">Travel Features &amp; News</a></li>
                <li class=""><a id="ss-header-links-faq" target="_blank" href="https://help.skyscanner.net">Help</a></li>
                <li class="login-button last" style=""><a href="#">Log in</a></li><li class="account-button last" style="display: none;"><a href="#">Account</a></li></ul>
        </div>
        <div id="culture-info-container" class="clearfix">
            <ul id="culture-info" class="theme-dark">
                <li id="current-user-country">
                    <div class="culture-flag-wrapper">
                        <img id="culture-flag-image" src="http://images.skyscnr.com/images/country/flag/small/uk.png" alt="United Kingdom" title="UK" class="">
                        <div id="culture-indicator-container" class="culture-indicator popup hidden">
                            <section id="culture-indicator" class="popup hidden"></section>
                        </div>
                    </div>
                </li>
                <li id="current-user-lang"><span class="language-name">English</span> (EN)</li>
                <li id="current-user-currency"><span class="currency-name">gbp - </span>£</li>
                <li id="change-culture-info"><span class="change-button">Change<span class="toggle-indicator">▼</span></span></li>
            </ul>
        </div>
        <div id="identity">
            <a href="/" title="Cheap Flights with Skyscanner"><span>Cheap Flights with Skyscanner</span></a>
            <span id="current-category">flights</span>
            <button type="button" id="toggle-touch-menu" class="cim-b-touch-menu-toggle">
                <span class="visually-hidden">menu</span>
            </button>
        </div>
        <nav class="main-nav-container">
            <div id="nav-container">
                <ul id="main-nav">
                    <li class="item-1 airli">
                        <a id="airli" data-analytics-name="flights" href="/">
                            <span>flights</span>
                        </a>
                    </li>
                    <li class="item-2 skhot">
                        <a id="skhot" data-analytics-name="hotels" href="/hotels.html?currencyCode=GBP&amp;languageCode=EN&amp;Rooms=1&amp;Adults=1&amp;checkin=2014-09-19&amp;checkout=2014-09-19">
                            <span>hotels</span>
                        </a>
                    </li>
                    <li class="item-3 carhi">
                        <a id="carhi" data-analytics-name="carhire" href="/carhire/?pick_up_date=2014-09-19&amp;drop_off_date=2014-09-19">
                            <span>car hire</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ul id="trip-planning-nav">
                <li>
                        <span id="history-toggle" title="Recent Searches">     
                            <span>Recent Searches</span>
                        </span>
                </li>
            </ul>
        </nav>
    </div>
    -->
</header>