<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-itunes-app" content="app-id=415458524" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="We compare cheap flights, hotels &amp; car hire of more providers than anyone else, so you don't have to. Save with Skyscanner.net" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="resources/styles/default.css" />
</head>
<body ng-app="app">
    <appheader></appheader>
    <main ng-view ng-class="class"></main>
    <appfooter></appfooter>
    <script type="text/javascript" src="resources/scripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="resources/scripts/libs/angular-route.min.js"></script>
    <script type="text/javascript" src="resources/scripts/templates.js"></script>
    <script type="text/javascript" src="resources/scripts/main.js"></script>
</body>
</html>