<div class="result-controls">
    <ol class="hbox fluid">
        <li><a data-icon="tick small after" href="" id="btn-filter">FILTERS</a></li>
        <li><a href="" id="btn-sort">SORT</a></li>
        <li><a href="" id="btn-map">MAP</a></li>
    </ol>
</div>