.result-controls{
  padding: 0.65em;
  ol {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    background: none;
    table-layout: fixed;
    border-collapse: collapse;
  }
  li {
    width: 33.33%;
    text-align: center;
    display: table-cell;
  }
  a {
    font-size: 0.9em;
    color: $black !important;
    display: block;
    font-weight: bold;
    padding: $padding;
    margin-right: 0.5em;
    background: $color-pink;
    @include rounded-corners(3px);
    &:visited {
      color: #333;
    }
    &:hover {
      background-color: $color-orange;
      color: $black !important;
      text-decoration: none;
    }
  }
  li:last-of-type a {
    margin-right: 0;
  }
  #btn-filter{
    &:after{display: none}
    &.active:after{display: inline-block}
  }
}