<div class="app-summary">
    <p class="description"><span class="price"><?php echo $title ?></span><br/>
    <p data-icon="calendarSmall before" class="dates"><span class="check-in">DATE</span> - <span class="check-out">DATE</span>
        <span class="guests">NUM GUESTS</span>, <span
            class="rooms">NUM ROOMS</span></p>
    <a id="btn-modify" href="" data-icon="editReverse after">&nbsp;</a>

    <p>//SEARCH FORM</p>
</div>