.app-summary {
  margin: 0;
  padding: 0 0 0.35em 0;
  position: relative;
  border-bottom: 1px solid lighten($color-light-charcoal, 60);
  p {
    font-size: 0.8em;
    margin: 0;
    padding: 0 4em 0 1em;
    color: $color-dark-charcoal;
  }
  .description {
    font-weight: 700;
  }
  .dates {
    padding-top: 0.05em;
    margin: .4em 0;
    &:before{
      min-width: 10px;
    }
  }
  .guests, .rooms{
    color: lighten($color-light-charcoal, 20%);
  }
  a {
    @include rounded-corners(0.35em);
    background-color: $color-light-charcoal;
    color: $white;
    padding: 0.5em 0.65em;
    position: absolute;
    right: 0.65em;
    top: 0;
    text-decoration: none;
    &:after{
      margin: 0;
      min-width: 9px !important;
    }
  }
  #search-form {
    display: none;
  }
  &.edit {
    padding-bottom: 0.65em;
    a {
      background-color: $white;
      color: $color-dark-charcoal;
      padding: 0.35em 0.5em;
      border: 2px solid $color-dark-charcoal;
    }
    #search-form {
      display: block;
    }
  }
}