<div id="results-list">
    <ol class="available">
        <li class="hotel-card" ng-repeat="hotel in data.results">
            <a href="#" class="details">
                <div class="description" data-icon="forwardThin after">
                    <h3  data-icon="stars after" class="stars-5">{{hotel.name}}</h3>
                    <p>
                        <span data-icon="distanceThin before" class="distance">{{hotel.location.distance}}</span>
                        <span data-icon="reviews before"
                              class="rating good"><strong>{{hotel.reviews.rating}}</strong><em>{{hotel.reviews.description}}</em></span>
                    </p>
                    <p>{{strings.moreDetails}}</p>
                </div>
                <div class="thumbnail">
                    <img src="//placehold.it/100x100" alt=""/>
                </div>
            </a>

            <a href="#" target="_blank" class="deal">
                <p>{{strings.bestPrice}} <span>{{hotel.price.provider}}</span></p>
                <h4>{{hotel.price.best | currency :"£"}}<span>{{strings.bookNow}}</span></h4>
            </a>
            <div class="deal">
                <h4>{{strings.notAvailable}}</h4>
            </div>
        </li>
    </ol>
</div>