// todo: might need to break this out into smaller chunks (taken from .list.scss on HMW).

// FOR HOTEL ITEM STYLING
// See hotel-card.scss

#results-list {
  margin: 0;
  padding: 0;
  min-height: 150px;

  ol {
    padding-left: 0;
    margin: 0 0 19px 0;
  }

  .deal {
    @include box-shadow(0px, 2px, 2px, 0, lighten($color-dark-charcoal, 50 ), true);
    background-color: lighten($color-light-charcoal, 61);
    border-bottom: 1px solid lighten($color-light-charcoal, 55);
    padding: 0.65em 0.65em 0.65em 0.35em;
    min-height: 3em;
    position: relative;
    display: block;
    p {
      font-size: 0.85em;
      line-height: 1.1em;
      color: $color-light-charcoal;
      margin: 0;
      padding: 0;
      span {
        display: block;
        font-weight: 700;
        color: $black;
      }
    }
    h4 {
      position: absolute;
      top: 0.9em;
      right: 0;
      color: darken($color-dark-blue, 10);
      font-size: 1em;
      text-align: right;
      span {
        background: $color-red;
        padding: 0.65em;
        margin: 0 0.35em;
        color: $black;
        font-size: 0.9em;
        font-weight: 700;
        @include rounded-corners(3px);
      }
    }
  }
  h3 {
    margin: 0;
  }
}

/* tianxun overrides for results */
.main-content {
  h4 {
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
  }
  #results-list .deal p {
    width: 50% !important;
  }
  #results-list .deal h4 {
    margin-top: 0.2em !important;
  }
}

// CULTURE OVERRIDES
.lang-tl, .lang-gr{
  .deal{
    font-size: .9em; // Font overlap in deals row on results screen
  }
}

// THIS STYLES THE HOTEL ITEM ON BOTH LIST AND MAP VIEWS

$prioritary: $color-dark-green;
$available: lighten($color-dark-green, 10%); // ALSO USED FOR NEARBY BUCKET, WHICH ARE ALSO AVAILABLE
$unavailable: darken($color-red, 10%);

//BUCKETS STYLING
.prioritary{
  .details{
    border-left: 4px solid $prioritary;
  }
  .deal{
    border-left: 4px solid darken($prioritary, 5%);
  }
}

.nearby, .available{
  .details{
    border-left: 4px solid $available;
  }
  .deal{
    border-left: 4px solid darken($available, 5%);
  }
}

.unavailable{
  .details{
    border-left: 4px solid $unavailable;
  }
  .deal{
    border-left: 4px solid darken($unavailable, 10%);
  }
  h4{
    margin-right: $padding;
  }
}

// CARD STYLING
.hotel-card {
  margin: 0.65em 0 0 0;
  padding: 0;
  position: relative;
  list-style-type: none;

  &#hotel-item-map{
    margin: 0 auto;
    width: 95%;
    max-width: 360px !important;

    img{
      width: 112%;
    }
  }
  &:last-of-type {
    border-bottom: none;
  }
  a {
    display: block;
    text-decoration: none;
  }
  //CARD CONTENT
  .details {
    height: 100%;
    position: relative;
    p {
      padding: 0; margin: 0;
    }
  }
  .description {
    height: 100%;
    min-height: 100px; //Matches height of image
    padding: 0 $padding*2 $padding 33%;
    text-align: left;
    h3 {
      font-size: 1.1em;
      margin: 0 0 .4em 0;
    }
    &:after{ //STYLES THE ARROW
      margin-top: -18px;
      position: absolute;
      right:4px; top: 50%;
    }
  }
  .thumbnail {
    background: lighten($color-light-charcoal, 30%);
    max-width: 200px;
    margin: 0 4px 4px 4px;
    height: 95%;
    min-height: 95px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 30%;
    img {
      position: absolute;
      margin: auto;
      height: auto;
      width: 100%;
      max-width: 200px;
      right: 0%;
      left: 0%;
      top: 0%;
      bottom: 0%;
      // PLACEHOLDER IMAGE ICON - SHOWN WHEN NO HOTEL IMAGE AVAILABLE
      &.centered-placeholder{
        width: 50% !important;
      }
    }
  }

  // MEDIA QUERIES - WIDTH

  @media (min-width: 400px) {
    .description {
      min-height: 110px;
    }
    img{
      bottom: 0%;
    }
  }

  @media (min-width: 540px) {
    font-size: 1.3em;
    h3{
      line-height: 1.6em;
    }
    .description {
      min-height: 120px;
    }
  }

  @media (min-width: 690px) {
    &#hotel-item-map{
      left: auto;
      right: 10px;
      max-width: 60% !important;
    }
    .description {
      width: inherit;
      padding-left: 215px;
    }
  }

  // MEDIA QUERIES - HEIGHT

  @media (max-height: 400px) {
    &#hotel-item-map{
      font-size: 100% !important;
      left: auto;
      right: 10px;
    }
  }
}