.pagination {
  margin: 1.2em 0.4em 0.65em 0.4em;
  ol {
    width: 100%;
    margin: 0; padding: 0;
    position: relative;
  }
  li {
    display: inline-block;
    min-width: 14.285714285714285714285714285714%;
    &.btn-previous, &.btn-next {
      padding: 0;
    }
    &.inactive a{
      &.pseudo-active, &:focus, &:active {
        background: transparent;
        text-decoration: none;
      }
    }
  }
  li:first-of-type {
    text-align: left;
  }
  li:last-of-type {
    text-align: right;
    position: absolute;
    right: 0;
  }
  a {
    @include rounded-corners(0.25em);
    color: $black !important;
    display: inline-block;
    text-align: center;
    padding: 0.4em;
    width: 100%;

    &.pseudo-active, &:focus {
      text-decoration: none;
      background-color: $gray-lighter;
    }
    &:active{
      background-color: $gray;
    }
  }
  .active a{
    color: $black !important;
    background-color: $color-yellow;
  }
  &.start {
    li:first-of-type {
      display: none;
    }
  }
  &.end {
    li:last-of-type {
      display: none;
    }
  }
}