<nav class="pagination">
    <ol class="hbox">
        <li class="btn-previous"><a data-page="prev" data-icon="before back" href="javascript:void(0);">PREV</a></li>
        <li class="btn-next"><a data-page="next" data-icon="after forward" href="javascript:void(0);">NEXT</a></li>
    </ol>
</nav>