<footer id="appfooter">

    <div class="footer-content">
        <div class="wrap clearfix">
            <section id="explore-block">
                <h3>Explore</h3>

                <ul>
                    <li><a id="ss-footer-links-city-links" href="/flights-to/cheap-flights-to-cities-all.html">Cities</a>
                        <span class="toggle-indicator" onclick=" toggle_visibility('city-links') ">+</span>
                        <ul id="city-links" class="asian-lang-font-reset clearfix hidden">
                            <li><a id="ss-footer-links-city-LOND" href="/flights-to/lond/cheap-flights-to-london.html">London</a></li>
                            <li><a id="ss-footer-links-city-NYCA" href="/flights-to/nyca/cheap-flights-to-new-york.html">New York</a></li>
                            <li><a id="ss-footer-links-city-AMST" href="/flights-to/ams/cheap-flights-to-amsterdam.html">Amsterdam</a></li>
                            <li><a id="ss-footer-links-city-PALM" href="/flights-to/pmi/cheap-flights-to-palma.html">Palma</a></li>
                            <li><a id="ss-footer-links-city-MALA" href="/flights-to/agp/cheap-flights-to-malaga.html">Malaga</a></li>
                            <li><a id="ss-footer-links-city-DXBA" href="/flights-to/dxba/cheap-flights-to-dubai.html">Dubai</a></li>
                            <li><a id="ss-footer-links-city-DUBL" href="/flights-to/dub/cheap-flights-to-dublin.html">Dublin</a></li>
                        </ul>
                    </li>
                    <li><a id="ss-footer-links-airports" href="/airports/airports-of-the-world.html">Airports</a>
                    </li>
                    <li><a id="ss-footer-links-country-links" href="/flights-to/cheap-flights-to-countries-all.html">Countries</a>
                        <span class="toggle-indicator" onclick=" toggle_visibility('country-links') ">+</span>
                        <ul id="country-links" class="asian-lang-font-reset clearfix hidden">
                            <li><a id="ss-footer-links-country-CA" href="/flights-to/ca/cheap-flights-to-canada.html">Canada</a></li>
                            <li><a id="ss-footer-links-country-IN" href="/flights-to/in/cheap-flights-to-india.html">India</a></li>
                            <li><a id="ss-footer-links-country-ES" href="/flights-to/es/cheap-flights-to-spain.html">Spain</a></li>
                        </ul>
                    </li>
                    <li><a id="ss-footer-links-airlines" href="/airlines-all.html">Airlines</a>
                    </li>
                    <li><a id="ss-footer-links-flights" href="/">Flights</a>
                    </li>
                    <li><a id="ss-footer-links-hotels" href="/hotels.html">Hotels</a>
                    </li>
                    <li><a id="ss-footer-links-car-hire" href="/carhire/">Car hire</a>
                    </li>

                </ul>
            </section>
            <section id="tools-block">
                <h3>Flight Tools</h3>
                <ul>
                    <li><a id="ss-footer-links-widgets" href="http://business.skyscanner.net/portal/en-GB/AffiliateNetwork#widgets">Widgets</a></li>
                    <li><a id="ss-footer-links-api" href="http://business.skyscanner.net/portal/en-GB/AffiliateNetwork#api">API</a></li>
                    <li><a id="ss-footer-links-apps" href="/mobile.html">Apps</a></li>
                </ul>
            </section>
            <section id="company-block">
                <h3>Company</h3>
                <ul>
                    <li><a href="/aboutskyscanner.aspx">About Skyscanner</a></li>
                    <li><a href="http://www.skyscanner.net/jobs">Jobs</a></li>
                    <li><a id="ss-footer-links-media" rel="nofollow" href="/media">Media</a></li>
                    <li><a href="/privacypolicy.aspx" id="ss-footer-links-privacy" rel="nofollow">Privacy and cookie policy</a></li>
                    <li><a href="/termsofservice.aspx" id="ss-footer-links-terms">Terms of Service</a></li>
                </ul>
            </section>
            <section id="help-block">
                <h3>Help</h3>
                <ul>
                    <li><a id="ss-footer-links-faq" target="_blank" href="https://help.skyscanner.net">Help</a></li>
                    <li><a href="/contactus.aspx" id="ss-footer-links-contact" rel="nofollow">Contact Us</a></li>
                </ul>
            </section>
            <span class="footer-logo"></span>
        </div>
    </div>



    <div class="wrap clearfix">
        <section class="footer-content-light">
            <h3>International Sites</h3>
            <ul id="language-links" class="visible asian-lang-font-reset">
                <li class="gb"><a href="http://www.skyscanner.net/?ncr=1"><span>Cheap flights</span></a></li>
                <li class="at"><a href="http://www.skyscanner.at/"><span>Österreich - Flüge</span></a></li>
                <li class="cn"><a href="http://www.tianxun.cn/"><span>中国 - 航班</span></a></li>
                <li class="dk"><a href="http://www.skyscanner.dk/"><span>Flybilletter</span></a></li>
                <li class="fr"><a href="http://www.skyscanner.fr/"><span>France - vols</span></a></li>
                <li class="de"><a href="http://www.skyscanner.de/"><span>Deutschland - Flüge</span></a></li>
                <li class="gr"><a href="http://gr.skyscanner.com/"><span>Ελλάδα - πτήσεις</span></a></li>
                <li class="ie"><a href="http://www.skyscanner.ie/"><span>Ireland - flights</span></a></li>
                <li class="it"><a href="http://www.skyscanner.it/"><span>Italia - voli</span></a></li>
                <li class="nl"><a href="http://www.skyscanner.nl/"><span>vliegtickets</span></a></li>
                <li class="no"><a href="http://www.skyscanner.no/"><span>Flybilletter</span></a></li>
                <li class="pt"><a href="http://www.skyscanner.pt/"><span>Portugal - voos</span></a></li>
                <li class="ru"><a href="http://www.skyscanner.ru/"><span>Россия - авиабилеты</span></a></li>
                <li class="es"><a href="http://www.skyscanner.es/"><span>España - vuelos</span></a></li>
                <li class="se"><a href="http://www.skyscanner.se/"><span>Sverige - flyg</span></a></li>
                <li class="ch"><a href="http://www.skyscanner.ch/"><span>Schweiz - Flüge</span></a></li>
                <li class="ch"><a href="http://www.skyscanner.ch/fr" hreflang="fr" rel="alternate"><span>Schweiz - vols</span></a></li>
                <li class="ch"><a href="http://www.skyscanner.ch/it" hreflang="it" rel="alternate"><span>Schweiz - voli</span></a></li>
                <li class="us"><a href="http://www.skyscanner.com/?ncr=1"><span>USA - flights</span></a></li>
                <li class="us"><a href="http://www.skyscanner.com/es?ncr=1" hreflang="es" rel="alternate"><span>USA - vuelos</span></a></li>
            </ul>
            <form action="/r/FooterPost/?clientController=Home&amp;clientAction=Index" class="clearfix" id="footer-flag-nav-form" method="post">                        <select name="language-links-mini" id="language-links-mini">
                <option value="" selected="selected">Please select an option</option>
                <option value="http://www.skyscanner.net/?ncr=1" class="gb">(GB)Cheap flights</option>
                <option value="http://www.skyscanner.at/" class="at">(AT)Österreich - Flüge</option>
                <option value="http://www.tianxun.cn/" class="cn">(CN)中国 - 航班</option>
                <option value="http://www.skyscanner.dk/" class="dk">(DK)Flybilletter</option>
                <option value="http://www.skyscanner.fr/" class="fr">(FR)France - vols</option>
                <option value="http://www.skyscanner.de/" class="de">(DE)Deutschland - Flüge</option>
                <option value="http://gr.skyscanner.com/" class="gr">(GR)Ελλάδα - πτήσεις</option>
                <option value="http://www.skyscanner.ie/" class="ie">(IE)Ireland - flights</option>
                <option value="http://www.skyscanner.it/" class="it">(IT)Italia - voli</option>
                <option value="http://www.skyscanner.nl/" class="nl">(NL)vliegtickets</option>
                <option value="http://www.skyscanner.no/" class="no">(NO)Flybilletter</option>
                <option value="http://www.skyscanner.pt/" class="pt">(PT)Portugal - voos</option>
                <option value="http://www.skyscanner.ru/" class="ru">(RU)Россия - авиабилеты</option>
                <option value="http://www.skyscanner.es/" class="es">(ES)España - vuelos</option>
                <option value="http://www.skyscanner.se/" class="se">(SE)Sverige - flyg</option>
                <option value="http://www.skyscanner.ch/" class="ch">(CH)Schweiz - Flüge</option>
                <option value="http://www.skyscanner.ch/fr" class="ch">(CH)Schweiz - vols</option>
                <option value="http://www.skyscanner.ch/it" class="ch">(CH)Schweiz - voli</option>
                <option value="http://www.skyscanner.com/?ncr=1" class="us">(US)USA - flights</option>
                <option value="http://www.skyscanner.com/es?ncr=1" class="us">(US)USA - vuelos</option>
            </select>
                <button id="flag-go" class="button"><span>Go</span></button>
            </form>            </section>

    </div>





</footer>