$black: #000;
$white: #fff;

/* core ------------------------------------------------------------------------------------------------------------ */

$color-light-blue: #5be2ed;
$color-dark-blue: #29a8bb;
$color-light-charcoal: #4d5059;
$color-dark-charcoal: #34363d;
$color-bright-green: #aae700;
$color-green: #c7d834;
$color-dark-green: #a9b500;
$color-yellow: #f0d700;
$color-dark-yellow: #c09a15;
$color-darkest-yellow: #3C3006;
$color-orange: #fca520;
$color-dark-orange: #f4910f;
$color-pink: #e54291;
$color-dark-pink: #b91162;
$color-red: #f23939;
$color-dark-red: #c42020;

/* extras ---------------------------------------------------------------------------------------------------------- */

$background: #fff;
$visited-links: #660066;
$direct-flights: #71a221;
$indirect-flights: #e65848;
$connecting-flights: #ff7920;

/* grays ---------------------------------------------------------------------------------------------------------- */

$gray-lightest:     lighten($black, 95%);
$gray-lighter:      lighten($black, 80%);
$gray-light:        lighten($black, 65%);
$gray:              lighten($black, 50%);
$gray-dark:         lighten($black, 35%);
$gray-darker:       lighten($black, 20%);
$gray-darkest:      lighten($black, 5%);

/* link colors ---------------------------------------------------------------------------------------------------------- */

$color-link:          $color-dark-yellow;
$color-link-visited:  $color-link;
$color-link-hover:    darken($color-link, 20%);
$color-link-active:   darken($color-link, 40%);

/* rating colors ---------------------------------------------------------------------------------------------------------- */

$rating-no-rating:       #808080;
$rating-below-average:   #FD832A;
$rating-average:         #FFC72E;
$rating-satisfactory:    #C7C838;
$rating-good:            #8FC942;
$rating-very-good:       #79AE34;
$rating-excellent:       #639225;
$rating-outstanding:     #4D7717;

// RE-USABLES
$official: $color-dark-blue;

// SIZES

$padding:1.2em;