/**
 * Handlebars Helpers: {{bold}}
 *
 * This just an example helper to get you started on
 * adding custom helpers to your own projects.
 *
 * Copyright (c) 2013 Jon Schlinkert
 * Licensed under the MIT License (MIT).
 */

/* .group ---------------------------------------------------------------------------------------------------------- */

// Define breakpoint sizes. If adding new ones, update the MEDIA mixin below.
$small:   320px;
$medium:  400px;
$large:   500px;

@mixin media($width){
  @if $width == small{
    @media only screen and (min-width: $small){
      @content;}
  }
  @else if $width == medium{
    @media only screen and (min-width: $medium){
      @content;}
  }
  @else if $width == large{
    @media only screen and (min-width: $large){
      @content;}
  }
}

$default_radius: 4px;

@mixin round-corner($position, $radius: $default_radius) {
  border-#{$position}-radius: $radius;
  -webkit-border-#{$position}-radius: $radius;
}

@mixin round-corner-mozilla($position, $radius: $default_radius) {
  -moz-border-radius-#{$position}: $radius;
}

@mixin round-left-corners($radius: $default_radius) {
  @include round-corner("top-left", $radius);
  @include round-corner("bottom-left", $radius);
  @include round-corner-mozilla("topleft", $radius);
  @include round-corner-mozilla("bottomleft", $radius);
}

@mixin round-right-corners($radius: $default_radius) {
  @include round-corner("top-right", $radius);
  @include round-corner("bottom-right", $radius);
  @include round-corner-mozilla("topright", $radius);
  @include round-corner-mozilla("bottomright", $radius);
}

@mixin round-top-corners($radius: $default_radius) {
  @include round-corner("top-left", $radius);
  @include round-corner("top-right", $radius);
  @include round-corner-mozilla("topleft", $radius);
  @include round-corner-mozilla("topright", $radius);
}

@mixin round-bottom-corners($radius: $default_radius) {
  @include round-corner("bottom-left", $radius);
  @include round-corner("bottom-right", $radius);
  @include round-corner-mozilla("bottomleft", $radius);
  @include round-corner-mozilla("bottomright", $radius);
}

@mixin rounded-corners($radius: $default_radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin linear-gradient ($from: white, $to: black, $direction: top) {
  background: $from;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background: -webkit-linear-gradient($direction, $from, $to);
  background: -moz-linear-gradient($direction, $from, $to);
  background: -ms-linear-gradient($direction, $from, $to);
  background: -o-linear-gradient($direction, $from, $to);
}

@mixin box-shadow($top: 0px, $left: 0px, $blur:1em, $spread: .2em, $color: $color-dark-charcoal, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin drop-shadow ($x-offset: 0px, $y-offset: 1px, $radius: 2px, $color: $color-dark-charcoal) {
  -moz-box-shadow: $x-offset $y-offset $radius $color;
  -webkit-box-shadow: $x-offset $y-offset $radius $color;
  box-shadow: $x-offset $y-offset $radius $color;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin transition($property: all, $duration: 1s, $easing: ease-in-out) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

@mixin icon-small($size:9px){
  min-width: $size;
}